.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    /* Adjust the background color as needed */
}

.login h2 {
    text-align: center;
    /* Center the heading */
    margin: 20px 0;
    /* Add some spacing */
}

.login-container {
    max-width: 400px;
    /* Set a max width for the container */
    width: 100%;
    /* Make it responsive */
    margin: 0px;
    padding: 20px;
    /* Add more padding */
    background-color: #fff;
    /* Keep the background white */
    border-radius: 10px;
    /* Increase border-radius */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adjust shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center items vertically */
}

.login-container button {
    width: calc(100% - 26px);
    /* Make the button extend to the full width of the form */
    margin-top: 20px;
    /* Add margin on top */
    background-color: #0056b3;
    /* Use a more vibrant color for the button */
    padding: 10px;
    border-radius: 5px;
    /* Round the corners */
    color: white;
    border: none;
    cursor: pointer;
    /* Make it obvious it's clickable */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Slight shadow */
}

.login-container a {
    margin-top: 10px;
    /* Add space above the link */
    color: #0056b3;
    /* Match the button color */
    text-decoration: none;
    /* Remove underline */
}

.login-row {
    width: 100%;
    /* Full width */
    margin-bottom: 15px;
    /* Add some margin to the bottom */
}

.login-row label {
    width: 100px;
    /* You can adjust the width as necessary */
    display: inline-block;
    /* Make label inline */
}

.login-row input {
    width: calc(100% - 110px);
    /* Adjust input width */
    padding: 10px;
    /* Add padding */
    margin-left: 10px;
    /* Add some spacing between label and input */
    border: 1px solid #ccc;
    /* Make the border lighter */
    border-radius: 5px;
    /* Round the corners */
    box-sizing: border-box;
    /* Make sure padding doesn't affect total width */
}

/* Add other styles here */